
@import 'bootstrap/dist/css/bootstrap.min.css';


.bg-dark-blue {
    background-color: #022b70 !important;
    color: white;
}
/* Highlight current subitem */
.active-sub {
    background-color: #022b70;
    color: white !important;
    font-weight: bold;
    padding-left: 1.5rem;
}

/* Sidebar open state */
.treeview-menu.show {
    transition: all 0.3s ease-in-out;
}

